*{

    margin: 0;
    padding: 0s;
}
.movies-list{

    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;

}
.movie-container{
    position: relative;
}
img{
    width: 100%;
}
.movies-list > div{

    width: 300px;
    justify-content: center;

    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
.movies-list > div:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}
.days-until-wrapper{
background-color: #333;
padding: 10px 0 ;
position: absolute;
width: 100%;
top: 0;
right: 0;
color: white;
text-align: center;
}
#navbar{
background-color: #333;
color: #fff;
font-size: 40px;
font-weight: 500;
text-align: center;
margin-bottom: 20px;;
padding: 20px 40px;
display: flex;
align-content: center;
justify-content: space-between;
}
#navbar input{
    height: 50px;
    max-width: 100%;
    width: 500px;
    font-size: 25px;
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 0 20px;
}
#navbar button{
height: 100%;
max-width: 150px;
width: 100%;
padding: 18px 36px ;
margin: 0 10px;
background-color: #fff;
color: #333;
font-size: 15px;
border: none;
border-radius: 20px;
cursor: pointer;
transition: all 0.3s ease-in-out;
}
#navbar button:hover{
    color: #fff;
    background-color: #333;
    border: 1px solid #fff;
}