.movies-list{

    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;

}
.movie-container{
    position: relative;
}
img{
    width: 100%;
}
.movies-list > div{

    width: 300px;
    justify-content: center;

    background-color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
.movies-list > div:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}
.days-until-wrapper{
background-color: #333;
padding: 10px 0 ;
position: absolute;
width: 100%;
top: 0;
right: 0;
color: white;
text-align: center;
}